.next/
out/
node_modules/
.env
.env.local
.env.production.local
.env.development.local
*.tsbuildinfo
next-env.d.ts

# next-pwa generated service worker files
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js
public/fallback-*.js
